# Default ignored files
/shelf/
/workspace.xml

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/
!repositories.lock

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
tmp/

# OS files
.DS_Store
Thumbs.db

# Application files
*.log
*.bak
*~

# Cache directories
.cache/
.cache/
